OSTENV=<EPG|EPGN|EPGKILO|OLDPRE|OLDPRO|PREJC1|PREAH1|PROAH1> OS_TENANT_NAME=<tenant_name> OS_TENANT_ID=<tenant_id> OS_AUTH_URL=<url_ost_auth> OS_USERNAME=<ost_personal_username> OS_PASSWORD=<ost_personal_password> OST_ACCESS_USER=<cloud-user> SPLUNK_INSTALL=<True|False> TELEGRAF_INSTALL=<True|False> CYCLOPS_INSTALL=<True|False>
...

